.container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-bottom: 30px;
    padding-top: 10px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 15px;
}

.experienceContainer {
    width: 280px; 
    height: 400px;
    position: relative;
}

.projectContainer {
    padding: 15px;
    width: 500px;
    height: 320px;
    transition: transform 0.3s ease;
    
}

.projectContainer:hover{
    transform: scale(1.05);
}

.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.skillContainer:hover {
    transform: scale(1.05);
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content, .hoverContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.experienceContainer img {
    width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 1;
}

.navyText {
    color: #050d41;
    font-family: 'Lexend', sans-serif; 
    text-align: center;
}

.skillImg {
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
  border: grey 1px solid;
}

.projImg {
    max-width: 17500px;
    max-height: 80px;
    width: auto;
    height: auto;
}

#skills {
    background-color: rgb(225, 234, 255);
    border-top: navy 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .experienceContainer {
        width: 80%;
        margin-bottom:15px;
        margin-left: 25px;
    }

    .projectContainer {
        width: 90%;
    }
}
