@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;1,200&display=swap');
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-family: var(--font-roboto);
  background-image: linear-gradient(rgb(155, 187, 251), #abc4f2);
  text-align: center;
  text-decoration: none;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    white 0%,
    rgba(249, 211, 180, 0) 120%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.25rem;
  font-weight: 500;
  color: #efefef;
  padding: 20px;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
  padding: 10px;
  font-family: 'Roboto Slab', 'serif';
}

h4 {
  font-size: 1.5rem;
  color: white;
  padding: 10px;
}

p {
  font-size: 1.4rem;
  font-family: 'Roboto Slab', 'serif';
  color:aliceblue;
  width: fit-content;
  padding: 10px;
}

img {
  max-width: 50%;
  padding:0px;
  border-radius: 100px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 20px 30px;
  margin:0px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom:50px;
  text-decoration: none;
}

.container2:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.01, 1.01);
  background-color:#9cbcf9; 
  border-radius:5%;
}

.aboutImg {
  max-width:27%;
  padding:10px;
}

#skills {
  background-color:rgb(132, 169, 239);
}

#contact {
  background-color: #29335c;
  display: flex;
  box-shadow: 1px 1px 5px 2px white;
  
}

form input, textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border: 2px solid black;
  margin:2px;
  width:100%;
  padding: 10px;
}

button {
  padding:5px;
  margin:5px;
}

.skillImg, 
.projImg {
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .container,
  .container2 {
    flex-direction: column;
    align-items: center;
  }
  .aboutImg {
    max-width:300px;
    max-height: 300px;
  }
  .skillImg,
  .projImg {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
  }
}
